@import "../../../../styles/variables.scss";

.carouselContainer {
  background-color: $primary-color;
  padding: 2rem;
  .carousel {
    .carouselItem {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 3fr 2fr;
      .image {
        margin: 2rem;
        place-self: center;
        img {
          max-height: 500px;
        }
      }
      .text {
        align-self: center;
      }
    }
  }
}
