@import "../../../../styles/variables.scss";

.carousel {
  background-color: $primary-color;
  padding: 2rem;
  display: grid;
  .image {
    place-self: stretch;
    background-color: #f0f3f9;
    display: grid;
    place-content: center;
  }
}
