.contactUs {
  grid-area: contactUs;
  padding: 2rem 0;
  background-color: #f3f6fa;
  display: grid;
  place-items: center;

  .pleaContent {
    text-align: center;
    font-family: Mulish;
    font-weight: bold;
  }
}
