@import "/styles/variables.scss";

.layout {
  main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "quickAccess breadcrumbs"
      "quickAccess summarySection";
    section {
      grid-column-start: 2;
    }
    .summarySection {
      grid-area: summarySection;
    }
    .recruitmentCallSection {
      grid-column: span 2;
      background-color: $primary-color;
      padding: 2rem 6rem;
      * {
        text-align: center;
      }
    }
  }
}
