@import "/styles/variables.scss";

.layout {
  main {
    display: grid;
    grid-auto-columns: auto 1fr;
    grid-template-areas:
      "quickAccess breadcrumbs"
      "quickAccess summarySection";
    .summarySection {
      grid-area: summarySection;
    }
    .pressFilesSection {
      grid-column-start: 2;
    }
  }
}

.inPageLinks {
  display: flex;
  column-gap: 2rem;
}

.files {
  margin-right: 4rem;
  h3 {
    color: $secondary-color;
  }
  .fileDescription {
    display: flex;
    justify-content: space-between;
  }
}
