.layout {
  main {
    display: grid;
    grid-auto-columns: 100%;
    .subcategory {
      padding: 2rem 0;
    }
    .mostRecent {
      background-color: #f3f6fa;
    }
  }
  .files {
    .file {
      .title {
        color: #3c64b1;
      }
    }
  }
}
