.layout {
  main {
    display: grid;
    grid-auto-columns: auto 1fr;
    grid-template-areas:
      "quickAccess summarySection"
      "quickAccess mostRecentPressFilesSection"
      "quickAccess pressReviewSection"
      "quickAccess pressReleasesSection";
    .summarySection {
      grid-area: summarySection;
    }
    .mostRecentPressFilesSection {
      grid-area: mostRecentPressFilesSection;
    }
    .pressReviewSection {
      grid-area: pressReviewSection;
    }
    .pressReleasesSection {
      grid-area: pressReleasesSection;
    }
  }
  .files {
    .file {
      .title {
        color: #3c64b1;
      }
    }
  }
}
