.ourStory {
  grid-area: ourStory;
  padding: 2rem 0;
  background-color: #f4f6fb;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
    "image categoryName"
    "image title"
    "image text";
  gap: 1rem;
  .image {
    grid-area: image;
    background-color: #e9eef6;
    display: grid;
    place-items: center;
  }
  .categoryName {
    grid-area: categoryName;
    color: #3c64b1;
  }
  .title {
    grid-area: title;
  }
  .text {
    grid-area: text;
  }
}
