@use "../variables/colors";

#talk-page {
  position: relative;
  > div.area-poles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    > div.pole-cover {
      padding: 1em;
      width: 33%;
      > a {
        img {
          border-radius: 5px;
          width: 100%;
        }
      }
    }
  }
}
