.layout {
  main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "quickAccess breadcrumbs"
      "quickAccess summary"
      "ourStory ourStory"
      "ourObjectives ourObjectives"
      "testimonies testimonies"
      "bureau bureau"
      "contactUs contactUs";
  }
}
