.blogContainer {
  display: grid;
  place-items: center;
  .blogLabelsList {
    li {
      display: inline;
    }
  }
  .articlesPreviews {
    margin: 0 6rem;
    display: grid;
    .preview {
      margin: 2rem 0;
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-auto-flow: column;
      .previewCover {
        margin-right: 1rem;
        display: grid;
        place-items: center;
      }
      .previewText {
        .labelsList {
          li {
            display: inline;
            margin-right: 0.5rem;
          }
        }
      }
    }
    .loadMoreButton {
      place-self: center;
    }
  }
}
