@import "../../../styles/variables.scss";

.articlesPreviewsSection {
  margin: 0 6rem;
  display: grid;
  .preview {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-flow: column;
    .previewCover {
      margin-right: 1rem;
      display: grid;
      place-items: center;
    }
    .previewText {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      h3 {
        color: $secondary-color;
      }
    }
  }
  .loadMoreButton {
    place-self: center;
  }
}
