@import "../../../styles/variables.scss";

.selectorForBlogCategoryOrLabel {
  background-color: $secondary-color;
  padding: 1rem;
  a {
    color: white;
    font-size: 18px;
  }
  .blogCategoriesList {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 2rem;
  }
  .active {
    font-weight: bold;
  }
  .showLabelsButton {
    border: 1px solid white;
    background: none;
  }
  .blogLabelsList {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
.articlesPreviewsSection {
  margin: 0 6rem;
  display: grid;
  .preview {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-flow: column;
    .previewCover {
      margin-right: 1rem;
      display: grid;
      place-items: center;
    }
    .previewText {
      display: grid;
      row-gap: 1rem;
      .labelsList {
        li {
          display: inline;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .loadMoreButton {
    place-self: center;
  }
}
