.associationsAndCollectives {
  grid-area: associationsAndCollectives;
  display: grid;
  padding: 2rem 0;
  .logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .logo {
    color: #3c64b1;
    font-weight: bold;
  }
}
