.antennes {
  background-color: #ffffff;
  padding: 2rem;
  display: grid;
  grid-template-areas:
    "categoryName"
    "title"
    "text"
    "buttons";
  place-items: center;
  .categoryName {
    grid-area: categoryName;
    color: #3c64b1;
    padding-top: 2rem;
  }
  .title {
    grid-area: title;
    font-size: large;
    font-weight: bold;
  }
  .text {
    grid-area: text;
    text-align: center;
    padding: 1rem;
  }
  .buttons {
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "learnMore contactUs";
    gap: 1rem;
    .learnMore {
      grid-area: learnMore;
    }
    .contactUs {
      grid-area: contactUs;
    }
  }
}
