.partners {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title,
  .text {
    text-align: center;
  }

  .partnersLogos {
    margin: 1rem 6rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
}
