.partners {
  background-color: #ffffff;
  padding: 2rem;
  display: grid;
  grid-template-areas:
    "title"
    "text"
    "partnerLogos";
  place-items: center;

  .title {
    grid-area: title;
    font-weight: bold;
    padding: 1rem;
  }
  .text {
    grid-area: text;
    padding: 1rem;
  }
  .partnersLogos {
    grid-area: partnerLogos;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-areas: "partner1 partner2 partner3 partner4 partner5 partner6 partner7";
    place-items: center;
    grid-gap: 1rem;

    * {
      color: #3c64b1;
      font-weight: bold;
    }
    .partner1 {
      grid-area: partner1;
    }
    .partner2 {
      grid-area: partner2;
    }
    .partner3 {
      grid-area: partner3;
    }
    .partner4 {
      grid-area: partner4;
    }
    .partner5 {
      grid-area: partner5;
    }
    .partner6 {
      grid-area: partner6;
    }
    .partner7 {
      grid-area: partner7;
    }
  }
}
