@import "/styles/variables.scss";

$bubble-picture-size: 8rem;

.layout {
  main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "quickAccess breadcrumbs"
      "quickAccess summarySection";
    section {
      grid-column: span 2;
    }
    .summarySection {
      grid-area: summarySection;
    }
  }
}

.lyonAntennaSection {
  background-color: $primary-color;
  align-items: stretch;
  padding: 2rem 6rem;
  * {
    color: $text-color;
  }
  h2,
  h3 {
    color: $secondary-color;
  }
  .teamSection {
    margin: 2rem 0;
  }
  .teamList {
    display: flex;
    justify-content: start;
    column-gap: 4rem;
    li {
      display: grid;
      .memberImageFrame {
        place-self: center;
        width: $bubble-picture-size;
        height: $bubble-picture-size;
        margin-bottom: 1rem;
        img {
          border-radius: 50%;
          object-fit: cover;
        }
      }
      * {
        text-align: center;
      }
    }
  }
}

.antennaNewsSection {
  background-color: $primary-color;
  .antennaNewsItem {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
  }
  button {
    margin-top: 2rem;
  }
}
.antennaEventsSection {
  .antennaEventsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
  }
  .eventItemContainer {
    width: 340px;
    img {
      object-fit: cover;
      height: 200px;
    }
    .eventItemText {
      background-color: $primary-color;
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 1rem;
      place-items: center;
      * {
        text-align: center;
      }
    }
  }
}
.antennaJoinUsSection {
  display: grid;
  justify-items: center;
  * {
    text-align: center;
  }
}
