@import "/styles/variables.scss";

.bannerContainer {
  img {
    max-height: 500px;
    object-fit: cover;
  }
}
.articleSection {
  .articleInfos {
    h3 {
      color: $secondary-color;
    }
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content {
    max-width: 680px;
    margin: 4rem 6rem;
    img {
      max-height: 800px;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    img + em {
      display: table;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
}
.articleRecommendationsList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  li {
    flex: 0 1 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    * {
      text-align: center;
    }
  }
}
