.ourObjectives {
  grid-area: ourObjectives;
  padding: 2rem 0;
  display: grid;
  place-items: center;
  .categoryName {
    font-weight: bold;
  }
  .checklist {
    .checkItem {
      padding: 1rem 0;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-areas: "checkIcon checkText";
      gap: 1rem;
      place-items: center start;
      .checkIcon {
        grid-area: checkIcon;
        font-size: 2rem;
      }
      .checkText {
        grid-area: checkText;
        margin: 0;
      }
    }
  }
}
