@import "../../../styles/variables.scss";

.header {
  background-color: $primary-color;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    " logo . searchbar "
    " logo nav user-buttons ";

  .logo {
    grid-area: logo;
    place-self: center;
    .logoImg {
      height: 7rem;
      margin: 1rem;
    }
  }

  .searchbar {
    grid-area: searchbar;
    justify-self: center;
  }

  .nav {
    grid-area: nav;
    align-self: center;
    ul {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-evenly;
      a {
        color: $title-color;
        font-size: 18px;
      }
    }
  }

  .userButtons {
    grid-area: user-buttons;
    place-self: center;
    button {
      font-size: 16px;
      font-weight: 700;
      border: none;
      padding: 12px 18px;
      cursor: pointer;
    }
    button:hover {
      opacity: 80%;
    }
    .donateButton {
      background: none;
      color: $secondary-color;
    }
    .adhesionButton {
      background-color: $secondary-color;
      border-radius: 30px;
      color: white;
    }
  }
}
