@import "../../../styles/variables.scss";

.header {
  background-color: $primary-color;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    " logo . searchbar "
    " logo nav user-buttons ";

  .logo {
    grid-area: logo;
    place-self: center;
    max-height: 260px;
    max-width: 110px;
  }

  .searchbar {
    grid-area: searchbar;
    justify-self: center;
  }

  .nav {
    grid-area: nav;
    align-self: center;
    ul {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-evenly;
      a {
        color: $title-color;
        font-size: 18px;
      }
    }
  }

  .userButtons {
    grid-area: user-buttons;
    place-self: center;
    .donateButton {
      background: none;
      color: $secondary-color;
    }
  }
}
