.header {
  background-color: #f4f6fb;
  display: grid;
  grid-template-columns: minmax(50px, 100px) 1fr minmax(100px, 200px);
  grid-template-areas:
    "logo . searchbar"
    "logo nav user-buttons";

  .logo {
    grid-area: logo;
    place-self: center;
    color: #486db6;
  }

  .searchbar {
    grid-area: searchbar;
    justify-self: center;
  }

  .nav {
    grid-area: nav;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
    }
  }

  .userButtons {
    grid-area: user-buttons;
    justify-self: center;
  }
}
