@import "../../../../styles/variables.scss";

.statsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  .statsList {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    place-items: stretch;
    column-gap: 2rem;
    li {
      display: grid;
      grid-template-rows: 3fr 1fr;
      place-items: center;
    }
    .number {
      font-size: 56px;
      color: $primary-color;
      place-self: center;
    }
    .text {
      text-align: center;
    }
  }
}
