.footer {
  display: grid;
  grid-template-columns: 2rem 2fr 1rem 1fr 1fr 2rem;
  grid-template-rows: auto;
  grid-template-areas:
    ". logo . donation-plea donation-plea ."
    ". separator-01 separator-01 separator-01 separator-01 ."
    ". newsletter-plea . internal-links social-media-links ."
    ". separator-02 separator-02 separator-02 separator-02 ."
    ". copyright-ajcf . legal-links . .";

  .logo {
    grid-area: logo;
    max-width: 200px;
    max-height: 200px;
  }

  .donationPlea {
    grid-area: donation-plea;
  }

  .newsletterPlea {
    grid-area: newsletter-plea;
  }

  .internalLinks {
    grid-area: internal-links;
  }

  .socialMediaLinks {
    grid-area: social-media-links;
  }

  .copyrightAJCF {
    grid-area: copyright-ajcf;
    justify-self: right;
  }

  .legalLinks {
    grid-area: legal-links;
  }

  .separator {
    width: 100%;
    &01 {
      grid-area: separator-01;
    }
    &02 {
      grid-area: separator-02;
    }
  }
}
