.footer {
  background-color: #f3f6fa;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 1rem 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo . donationPlea donationPlea"
    "separator01 separator01 separator01 separator01 "
    "newsletterPlea . internalLinks socialMediaLinks "
    "separator02 separator02 separator02 separator02 "
    "copyrightAJCF . legalLinks legalLinks ";

  .logo {
    grid-area: logo;
    display: grid;
    place-items: center start;
    margin: 0;
    img {
      height: 7rem;
    }
  }

  .donationPlea {
    grid-area: donationPlea;
    display: grid;
    grid-template-areas: "donationText donationButton";
    place-items: center start;
    .donationText {
      grid-area: donationText;
      color: #5376ba;
    }
    .donationButton {
      grid-area: donationButton;
    }
  }

  .newsletterPlea {
    grid-area: newsletterPlea;
  }

  .internalLinks {
    grid-area: internalLinks;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "projetsAJCF aide";
    gap: 1rem;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      h3 {
        color: #5376ba;
      }
      small {
        color: #b9babc;
      }
    }
    .projetsAJCF {
      grid-area: projetsAJCF;
    }
    .aide {
      grid-area: aide;
    }
  }

  .socialMediaLinks {
    grid-area: socialMediaLinks;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "followUs"
      "socialMediaList";
    .followUs {
      grid-area: followUs;
    }
    .socialMediaList {
      grid-area: socialMediaList;
      list-style: none;
      margin: 0;
      margin-right: 2rem;
      padding: 0;
      display: flex;
      justify-content: space-between;
      li {
        * {
          font-size: 1.5rem;
          color: #3c64b1;
        }
      }
    }
  }

  .copyrightAJCF {
    grid-area: copyrightAJCF;
    justify-self: right;
  }

  .legalLinks {
    grid-area: legalLinks;
    display: flex;
    .term {
      margin-right: 2rem;
    }
  }

  .separator {
    width: 100%;
    &01 {
      grid-area: separator01;
    }
    &02 {
      grid-area: separator02;
    }
  }
}
