@import "../../../../styles/variables.scss";

.espaces {
  background-color: $background-color;
  * {
    text-align: center;
  }

  .espacesDescriptions {
    place-self: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .espaceDescription {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      .logoStyle {
        color: $secondary-color;
        font-size: 100px;
        margin: 2rem;
      }
      .link {
        margin-top: 2rem;
      }
    }
  }
}
