@import "../../../styles/variables.scss";

.layout {
  main {
    display: grid;
    grid-template-areas:
      "quickAccess breadcrumbs"
      "quickAccess summarySection";
    section {
      grid-column: span 2;
    }
    .summarySection {
      grid-area: summarySection;
    }
    .adhesionAdvantagesSection {
      background-color: $accent-color;
      .bulletPointsList {
        margin: 0 2rem;
        .bulletPoint {
          display: flex;
          gap: 1rem;
          .checkIcon {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
