@import "../../../styles/variables.scss";

.layout {
  main {
    display: grid;
    grid-template-areas:
      "quickAccess breadcrumbs"
      "quickAccess summarySection";
    section {
      grid-column: span 2;
      margin: 2rem;
    }
    .summarySection {
      grid-area: summarySection;
    }
    .adhesionAdvantagesSection {
      background-color: $primary-color;
      ul {
        margin: 2rem;
        li {
          margin: 1rem;
          display: flex;
          align-items: center;
          gap: 2rem;
          p {
            flex: 1 1;
          }
          .checkIcon {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
