@import "../../../styles/variables.scss";

.layout {
  main {
    display: grid;
    grid-template-areas: "quickAccess";
    section {
      grid-column-start: 2;
    }
    .donationIncentivesSection {
      background-color: $accent-color;
      ul {
        li {
          display: grid;
          grid-template-columns: 170px 1fr;
          grid-auto-flow: column;
          align-items: center;
          gap: 2rem;
          .bigFigure {
            font-weight: 700;
            font-size: 48px;
          }
        }
      }
    }
  }
}
