.testimonies {
  grid-area: testimonies;
  background-color: #f4f6fb;
  padding: 2rem 0;
  display: grid;
  grid-template-areas:
    "categoryName"
    "carousel";
  place-items: center;
  .categoryName {
    grid-area: categoryName;
  }
  .carousel {
    grid-area: carousel;
    display: flex;
    gap: 1rem;
    .card {
      background-color: #ffffff;
      width: 18rem;
      display: grid;
      place-items: center;
      p {
        text-align: center;
      }
    }
  }
}
