.layout {
  main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "quickAccess breadcrumbs"
      "quickAccess summary"
      "quickAccess institutions"
      "quickAccess associationsAndCollectives"
      "quickAccess enterprises";
  }
}
