$logo-size: 6rem;

.layout {
  main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "quickAccess breadcrumbs"
      "quickAccess summarySection";

    section {
      grid-column-start: 2;
    }
  }
}

.partnersListSection {
  margin: 2rem;
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;

    img {
      width: $logo-size;
      height: $logo-size;
    }
  }
}
