.layout {
  main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "quickAccess summarySection";
    .summarySection {
      grid-area: summarySection;
    }
    .espaceSection {
      grid-column: span 2;
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1rem;
      grid-template-areas:
        "logoFrame categoryName"
        "logoFrame title"
        "logoFrame text"
        ". activitiesList";
      .logoFrame {
        grid-area: logoFrame;
        border: 3px solid #3c64b1;
        display: grid;
        place-content: center;
        width: 16rem;
        height: 16rem;
        border-radius: 10%;
        background-color: #f3f6fa;
        span {
          font-size: 2rem;
        }
      }
      .sectionContent {
        background-color: #f3f6fa;
        padding: 2rem 6rem;
        .categoryName {
          grid-area: categoryName;
        }
        .title {
          grid-area: title;
        }
        .text {
          grid-area: text;
        }
        .activitiesList {
          grid-area: activitiesList;
          .activitiesContent {
            display: grid;
            grid-template-columns: repeat(auto-fill, 12rem);
            justify-items: center;
            .activityContent {
              display: grid;
              justify-items: center;
              .activityLogoFrame {
                border: 1px solid #3c64b1;
                background-color: #3c64b1;
                border-radius: 50%;
                width: 6rem;
                height: 6rem;
                display: grid;
                place-content: center;
                span {
                  color: white;
                  font-size: 2rem;
                }
              }
              .activityName {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
