.stats {
  background-color: #ffffff;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "numbersList"
    "joinButton";
  place-items: center;

  .title {
    grid-area: title;
    padding: 2rem;
  }
  .numbersList {
    grid-area: numbersList;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "existence activeMembers members followers";
    column-gap: 2rem;

    .number {
      background-color: #cce2ff;
      color: #476db6;
      font-size: large;
      font-weight: bold;
      display: grid;
      place-items: center;
      text-align: center;
      border-radius: 1rem;
      pre {
        padding: 1rem;
      }
    }
    .existence {
      grid-area: existence;
    }
    .activeMembers {
      grid-area: activeMembers;
    }
    .members {
      grid-area: members;
    }
    .followers {
      grid-area: followers;
    }
  }
  .joinButton {
    grid-area: joinButton;
    padding: 2rem;
  }
}
