@import "/styles/variables.scss";

.bannerContainer {
  img {
    max-height: 500px;
    object-fit: cover;
  }
}

.eventContentSection {
  h1 {
    margin-top: 1rem;
  }
  h2 {
    margin-bottom: 0;
  }

  .content {
    max-width: 680px;
    margin: 4rem auto;
    img {
      max-height: 800px;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    img + em {
      display: table;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  }
}

.nextEventsSection {
  h2 {
    text-align: center;
  }
  .nextEventsList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    li {
      flex: 0 1 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      img {
        max-height: 200px;
        object-fit: cover;
      }

      .nextEventInfos {
        background-color: $primary-color;
        * {
          text-align: center;
        }
        display: flex;
        align-items: center;
        gap: 1rem;
        h5 {
          flex: 0 1 25%;
        }
        div {
          flex: 1 1 75%;
        }
      }

      .nextEventContent {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        button {
          align-self: flex-end;
        }
      }
    }
  }
}
