$logo-size: 8rem;

.layout {
  main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "quickAccess breadcrumbs"
      "quickAccess summarySection";
    section {
      grid-column: span 2;
    }
    .summarySection {
      grid-area: summarySection;
    }
  }
}

.ourPartnersSection {
  ul {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    justify-content: center;

    img {
      width: $logo-size;
      height: $logo-size;
    }
  }
}
