.ourInterventionsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 2px;
  .interventionCard {
    background-color: #a0b3d9;
    display: grid;
    place-items: center;
  }
}
