.footer {
  display: grid;
  grid-template-columns: 2rem 2fr 1rem 1fr 1fr 2rem;
  grid-template-areas:
    ". logo . donation-plea donation-plea ."
    ". separator-01 separator-01 separator-01 separator-01 ."
    ". newsletter-plea . internal-links social-media-links ."
    ". separator-02 separator-02 separator-02 separator-02 ."
    ". copyright-ajcf . legal-links . .";

  &__logo {
    grid-area: logo;
  }

  &__donation-plea {
    grid-area: donation-plea;
  }

  &__separator {
    width: 100%;
    &-01 {
      grid-area: separator-01;
    }
    &-02 {
      grid-area: separator-02;
    }
  }

  &__newsletter-plea {
    grid-area: newsletter-plea;
  }

  &__internal-links {
    grid-area: internal-links;
  }

  &__social-media-links {
    grid-area: social-media-links;
  }

  &__copyright-ajcf {
    grid-area: copyright-ajcf;
    justify-self: right;
  }

  &__legal-links {
    grid-area: legal-links;
  }
}
