$accent-color: #f3f6fa;
$blue-wf: #3c64b1;

$primary-color: #fad43c;
$secondary-color: #fd5335;
$secondary-color-20: #fd533533;
$text-color: #373f41;
$title-color: #000000;
$background-color: #ffffff;
