.banner {
  background-color: #f4f6fb;
  min-height: 50vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas:
    "image title title"
    "image text text"
    "image buttons buttons";

  .image {
    grid-area: image;
    place-self: center;
  }
  .title {
    grid-area: title;
    place-self: center;
    font-weight: bold;
    font-size: 2rem;
  }
  .text {
    grid-area: text;
  }
  .buttons {
    grid-area: buttons;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    .histoire {
      margin-right: 1rem;
    }
  }
}
