@import "../../../../styles/variables.scss";

.banner {
  background-color: $primary-color;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "title title"
    "text image"
    "buttons image";
  gap: 1rem;
  .image {
    grid-area: image;
    place-self: center;
  }
  .title {
    grid-area: title;
  }
  .text {
    grid-area: text;
  }
  .buttons {
    grid-area: buttons;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
  }
}
