@import "../../../../styles/variables.scss";

.banner {
  background-color: $primary-color;
  padding-bottom: 0;
  .bannerContent {
    display: grid;
    margin-left: 2rem;
    grid-template-columns: 2fr 1fr 4fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "title title ."
      "text image image"
      "buttons image image";
    .title {
      grid-area: title;
      margin: 0;
    }
    .text {
      grid-area: text;
      margin-bottom: 1rem;
    }
    .buttons {
      grid-area: buttons;
      place-self: start;
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      column-gap: 1rem;
    }
    .image {
      grid-area: image;
    }
  }
}
