$color-talk: #ba2d1d;
$color-talk-light: #f6625c;
$color-learn: #05d2a0;
$color-learn-light: #05d2a0;
$color-meet: #009ad7;
$color-meet-light: #009ad7;
$color-enjoy: #FFC914;
$color-enjoy-light: #ffd856;
$alternate-bg-color: #F7F9F9;
$ajcf-white: #fdfdf6;
$ajcf-dark: #403526;
